<div class="row mb-1">
  <div class="form-group mb-1 col-md-3">
    <label>Mã dự án</label>
    <input type="text" class="form-control" [(ngModel)]="projectId" />
  </div>
  <div class="form-group mb-1 col-md-3">
    <label>Tên dự án</label>
    <input type="text" class="form-control" [(ngModel)]="projectName" />
  </div>
  <div class="form-group mb-1 col-md-3">
    <label>Chủ đầu tư</label>
    <input type="text" class="form-control" [(ngModel)]="investor" />
  </div>
  <div class="form-group mb-1 col-md-3">
    <label>Nhà thầu</label>
    <input type="text" class="form-control" [(ngModel)]="contractors" />
  </div>
  <!-- <div class="form-group mb-1 col-md-3">
    <label>Tổng giá trị</label>
    <input type="text" class="form-control" [(ngModel)]="total_value" />
  </div> -->
</div>
<div class="row mb-1">
  <div class="form-group mb-1 col-md-3">
    <label>Từ ngày mở thầu</label>
    <input type="date" class="form-control" [(ngModel)]="fromOpen" />
  </div>
  <div class="form-group mb-1 col-md-3">
    <label>Đến ngày mở thầu</label>
    <input type="date" class="form-control" [(ngModel)]="toOpen" />
  </div>
  <div class="form-group mb-1 col-md-3">
    <label>Từ ngày kết thúc</label>
    <input type="date" class="form-control" [(ngModel)]="fromEnd" />
  </div>
  <div class="form-group mb-1 col-md-3">
    <label>Đến ngày kết thúc</label>
    <input type="date" class="form-control" [(ngModel)]="toEnd" />
  </div>
</div>
<div class="col-md-3 mb-2">
  <button class="btn btn-primary" type="button" (click)="loadData()">Tìm kiếm</button>
  <button class="btn btn-primary" type="button" (click)="openModal(modal)">Tạo mới</button>
</div>
<div class="row">
  <div class="col-md-12">
    <!-- <app-card cardTitle="Danh sách tài khoản" [options]="false"> -->
    <ngx-datatable class='bootstrap no-detail-row' [columnMode]="ColumnMode.force" [footerHeight]="50"
      [rowHeight]="'auto'" [rows]='rows' [count]="totalCount" [limit]="pagesize">
      <ngx-datatable-column [sortable]="false" name="Mã dự án" prop="projectid" [width]="100">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <span class="text-datatable" [title]="row.projectid">
            {{row.projectid}}
          </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="false" name="Tên dự án" prop="projectname" [width]="150">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <span class="text-datatable" [title]="row.projectname">
            {{row.projectname}}
          </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="false" name="Mô tả" prop="projectdesc" [width]="200">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <span class="text-datatable" [title]="row.projectdesc">
            {{row.projectdesc}}
          </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="false" name="Chủ đầu tư" prop="investor" [width]="100">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <span class="text-datatable" [title]="row.investor">
            {{row.investor}}
          </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="false" name="Tổng giá trị" prop="total_value"
        [width]="100"></ngx-datatable-column>
      <ngx-datatable-column [sortable]="false" name="Nhà thầu" prop="contractors" [width]="100">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <span class="text-datatable" [title]="row.contractors">
            {{row.contractors}}
          </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="false" name="Ngày mở thầu" prop="opendate" [width]="80"></ngx-datatable-column>
      <ngx-datatable-column [sortable]="false" name="Ngày kết thúc" prop="enddate" [width]="80"></ngx-datatable-column>
      <ngx-datatable-column [sortable]="false" [width]="30">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <div class="text-center">
            <a class="mr-2" style="margin-right: 10px;" (click)="loadDataDetail(row, modal)" href="javascript:void(0);">
              <i class="far fa-edit"></i>
            </a>
            <a class="mr-2" (click)="deleteData(row)" href="javascript:void(0);">
              <i class="fas fa-trash-alt"></i>
          </a>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
    <!-- </app-card> -->
  </div>
</div>
<ng-template #modal let-modal>
  <app-create-project [projectId]="projectIdDetail" [modal]="modal" (parrentEvent)="loadData()"></app-create-project>
</ng-template>