<div class="modal-header">
    <h4 class="modal-title">{{item.projectdesc}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.close('Close click')"></button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-9">
            <app-card cardTitle="Thông tin dự án" [options]="false">
                <div [innerHTML]="item.projectdetail"></div>
            </app-card>
        </div>
        <div class="col-md-3">
            <app-card cardTitle="Danh sách vị trí" [options]="false">
                <input type="text" class="form-control mb-2" placeholder="Tìm kiếm ..." [(ngModel)]="searchBox"
                    (input)="search($event)">
                <div *ngFor="let item of locations">
                    <a href="javascript:void(0)" class="row mb-1" (click)="viewLocation(item, modalLocation)"
                        style="border: 1px solid #e9e9e9; border-radius: 5px; padding: 10px;">
                        <h6 [title]="item.locationname"><i class="fas fa-map-marker-alt" style="color: red;"></i><b>
                                {{item.locationname}}</b></h6>
                        <span class="text-datatable">{{item.location.coordinates[1]}} -
                            {{item.location.coordinates[0]}}</span>
                        <span class="text-datatable" [title]="item.address">{{item.address}}</span>
                        <span class="text-datatable" [title]="item.locationstatus">{{item.locationstatus}}</span>
                    </a>
                </div>
            </app-card>
        </div>
    </div>
</div>
<ng-template #modalLocation let-modal>
    <app-view-location [item]="itemLocation" [modal]="modal"></app-view-location>
</ng-template>