<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <div class="mb-4">
          <i class="feather icon-user-plus auth-icon"></i>
        </div>
        <!-- <h3 class="mb-4">Đăng ký</h3> -->
        <div class="col-sm-12" style="text-align: -webkit-center;">
          <ngp-image-picker ($imageChanged)="onImageChanged($event)" [_config]="config"
            [_imageSrc]="req.img"></ngp-image-picker>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" [(ngModel)]="req.userId" placeholder="Tên đăng nhập" />
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" [(ngModel)]="req.password" placeholder="Mật khẩu" />
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" [(ngModel)]="req.rePassword" placeholder="Nhập lại khẩu" />
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" [(ngModel)]="req.userName" placeholder="Họ tên" />
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" [(ngModel)]="req.email" placeholder="Email" />
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" [(ngModel)]="req.phone" placeholder="Số điện thoại" />
        </div>
        <button class="btn btn-primary shadow-2 mb-4" (click)="registerUser()">Đăng ký</button>
        <p class="mb-0 text-muted">
          Đã có tài khoản?
          <a [routerLink]="['/auth/signin']"> Đăng nhập</a>
        </p>
      </div>
    </div>
  </div>
</div>