<div class="row">
    <div class="col-md-8">
        <app-card cardTitle="Top 10 dự án mới nhất" [options]="false" style="padding: 15px 25px !important">
            <div *ngFor="let item of top10">
                <a href="javascript:void(0)" class="row" (click)="viewProject(item, modalProject)"
                    style="border: 1px solid #e9e9e9; border-radius: 5px; padding: 10px;">
                    <div style="width: 8%;">
                        <img [src]="item.img == null ? imgSrc : item.img" height="50" alt="User-Profile-Image" />
                    </div>
                    <div style="width: 92%;">
                        <h5>{{item.projectname}}</h5>
                        <span class="text-datatable">{{item.projectdesc}}</span>
                    </div>
                </a>
            </div>
        </app-card>
    </div>
    <div class="col-md-4">
        <app-card cardTitle="Thông tin vị trí cây" [options]="false" style="padding: 15px 25px !important">
            <div *ngFor="let item of badLocation">
                <a href="javascript:void(0)" class="row" (click)="viewLocation(item, modalLocation)"
                    style="border: 1px solid #e9e9e9; border-radius: 5px; padding: 10px;">
                    <h5>{{item.locationid}}</h5>
                    <span class="text-datatable">{{item.locationname}}</span>
                </a>
            </div>
        </app-card>
    </div>
</div>
<ng-template #modalProject let-modal>
    <div class="modal-header">
        <!-- <h4 class="modal-title">Dự án</h4> -->
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.close('Close click')"></button>
    </div>
    <div class="modal-body">
        <app-view-project [item]="itemProject"></app-view-project>
    </div>
</ng-template>
<ng-template #modalLocation let-modal>
    <div class="modal-header">
        <!-- <h4 class="modal-title">Dự án</h4> -->
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.close('Close click')"></button>
    </div>
    <div class="modal-body">
        <app-view-location [item]="itemLocation"></app-view-location>
    </div>
</ng-template>